
.maincontent{
    width: 450px;
    background-color: pink ;
    margin: 0 auto;
    text-align:center;
}

h1:hover{
    color: black;
  margin: 0 auto;
    text-align: center;
}

h1{
    color:white;
margin: 0 auto;
    text-align: center;
  
}

p{color: black;
   margin: 0 auto;
    text-align: center;
    padding-top: 0%;
}

p1{color: white;
font-size: 20px;}



body{
    background-color: pink;
    margin: 0 auto;
    text-align: center;
}