/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the whole page */
body {
    background-color: #f0f0f0;
    color: #3f4442;
    font-family: Arial, sans-serif;
}

/* Style the header with the logo and navigation */
header {
    background-color: #576660;
    color: #fff ;
    text-align: center;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 150px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    color: #6f7364;
  
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
 
}

nav a {
    color: #f0f0f0;
    text-decoration: none;
    margin: 10px;
}

/* Style the hero section */
#hero {
    background-image: url("images/hero-background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #5a5f5c;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: top -100px; ;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    background-color: #6f7364;
    padding: 20px;
    border-radius: 5px;
}
#hero-msg h4{
    color: white;
}
#hero h1 {
    font-size: 36px;
    color: rgb(65, 140, 161);
}

#hero h4 {
    font-size: 18px;
    margin-top: 10px;
}

.button-box {
    margin-top: 20px;
}

.button-box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #4a90a0;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}
.book{
    background-color: rgb(120, 168, 168);
    color: #3467b4;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase; 
}

/* Style the main content area */
.home-grid {
    text-align: center;
    padding: 20px 0;
    display: grid;
    grid-template-columns:repeat(10,1fr) ;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 20px;
}

/* Style the cards */
.rivers-card, .camping-card, .rapids-card {
    display: inline-block;
    margin:  20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    justify-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 10px;

}

.card-img {
    max-width: 100%;
    height: auto;
    border: 10px solid #6f7364;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
    color: white;
}
.card-img:hover{
    opacity:0.6;
    transform: scale(1.1);
}
.card-img,.mountains{
    width: 100%;
    color: white;
}
.icon {
    max-width: 60px;
    height: auto;
    width: 40px;
    height: 40px;
    color: white;
}

/* Style the "More Than Just The Thrill" section */
.mountains {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #f0f0f0;
    justify-content: center;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #f9fbf3;
}
.camping-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    grid-column: 1/11;
    grid-row: 5/8;
    
}
.msg {
    text-align: center;
    margin-top: 20px;
    grid-column: 6/10;
    grid-row: 6/7;
    background: color #ffffff;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    margin-bottom: 10px;
    justify-items: left;
}

.msg h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.msg p {
    font-size: 16px;
    margin-top: 10px;
}

.join {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6f7364;
    color: #f6f8f8;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

/* Style the footer */
footer {
    background-color: #6f7364;
    text-align: center;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Style social media icons */
.social a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }

    nav, footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #text {
        background-color:#f9fbf3;}

    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
    .fun-facts{
        background-color: #3467b4;
        padding: 20px;
        margin:20px 0;
    }
    form {
        /* Just to center the form on the page */
        margin: 0 auto;
        width: 400px;
      
        /* To see the limits of the form */
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
      }
      
      div + div {
        margin-top: 1em;
      }
      
      label {
        /* To make sure that all label have the same size and are properly align */
        display: inline-block;
        width: 90px;
        text-align: right;
      }
      
      input,
      textarea {
        /* To make sure that all text field have the same font settings
           By default, textarea are set with a monospace font */
        font: 1em sans-serif;
      
        /* To give the same size to all text field */
        width: 300px;
      
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      
        /* To harmonize the look & feel of text field border */
        border: 1px solid #999;
      }
      
      input:focus,
      textarea:focus {
        /* To give a little highlight on active elements */
        border-color: #000;
      }
      
      textarea {
        /* To properly align multiline text field with their label */
        vertical-align: top;
      
        /* To give enough room to type some text */
        height: 5em;
      
        /* To allow users to resize any textarea vertically
           It works only on Chrome, Firefox and Safari */
        resize: vertical;
      }
      
      .button {
        /* To position the buttons to the same position of the text fields */
        padding-left: 90px; /* same size as the label elements */
      }
      
      button {
        /* This extra margin represent the same space as the space between
           the labels and their text fields */
        margin-left: 0.5em;
      }
      